html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
#header-wrapper {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #282828;
}
h1, a {
  display: inline-block;
  color: #ffffff;
  font-family: "Cutive Mono";
  font-size: 1rem;
  margin: 2%;
  cursor: default;
}

a {
  text-decoration: none;
  cursor: pointer;
}
#content-wrapper {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #282828;
}
button {
  width: 15%;
  height: 100%;
  margin: 2%;
	font-family: "Cutive Mono";
	font-size: inherit;
	color: #ffffff;
	background: none;
	cursor: pointer;
  padding: 1%;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #ffffff;
}
button:hover {
	color: #282828;
	background: #fff;
}
#content {
  width: 80%;
  height: 80%;
  display: grid;
  grid-template: repeat(60, 1fr) / repeat(80, 1fr);
  margin: 5% 0 0 0;
  border: 1px solid #eaeaea;
}
input {
  z-index: 99;
  background: #282828;
  border: solid;
  padding: 0;
  margin: 2%;
  cursor: pointer;
}
#color-picker {
  width: 10%;
  height: 100%;
  border: 1px solid #ffffff;
}
#button-wrapper {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@media screen and (max-width: 650px){
  button {
    font-size: 0.8rem;
  }
  #content-wrapper {
    flex-direction: column-reverse;
  }
  #content {
    margin: 0 0 5% 0;
  }
}
@media screen and (max-width: 500px){
  button {
    font-size: 0.6rem;
  }
}
@media (pointer: coarse) {
    button:active, button:focus {
    color: #ffffff;
    background: #282828;
  }
}
@media (pointer: none) {
    button:active, button:focus {
    color: #ffffff;
    background: #282828;
  }
}